<Files .editorconfig>
    order allow,deny
    Deny from all
</Files>

<Files .env>
    order allow,deny
    Deny from all
</Files>

<Files .env.example>
    order allow,deny
    Deny from all
</Files>

<Files .gitattributes>
    order allow,deny
    Deny from all
</Files>

<Files .gitignore>
    order allow,deny
    Deny from all
</Files>

<Files .htaccess>
    order allow,deny
    Deny from all
</Files>

<Files .styleci.yml>
    order allow,deny
    Deny from all
</Files>

<Files artisan>
    order allow,deny
    Deny from all
</Files>

<Files composer.json>
    order allow,deny
    Deny from all
</Files>

<Files composer.lock>
    order allow,deny
    Deny from all
</Files>

<Files package-lock.json>
    order allow,deny
    Deny from all
</Files>

<Files package.json>
    order allow,deny
    Deny from all
</Files>

<Files phpunit.xml>
    order allow,deny
    Deny from all
</Files>

<Files README.md>
    order allow,deny
    Deny from all
</Files>

<Files webpack.mix.js>
    order allow,deny
    Deny from all
</Files>
