<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295275829272-ebv9kj4b8es19c6a6fp4a66bf6a7393i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295275829272-ebv9kj4b8es19c6a6fp4a66bf6a7393i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>295275829272-0q6t7d8hjf9cthmi21ebb9tjpaasrloh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDv4ByQRZneSUQiPmzpFITqsehbp010SgI</string>
	<key>GCM_SENDER_ID</key>
	<string>295275829272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.divinetechs.quiz</string>
	<key>PROJECT_ID</key>
	<string>quizapp-cf4a2</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-cf4a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295275829272:ios:b1fe8dd2863c58e8e00b6d</string>
	<key>DATABASE_URL</key>
	<string>https://quizapp-cf4a2.firebaseio.com</string>
</dict>
</plist>